/objectmacro-plugin/target/
/plugin-user-test/target/
/plugin-user-test/${gensource.dir}/objectmacro/
/sablecc-maven-plugin/target/plugin-user-test/nbactions.xml

/objectmacro-plugin-user-test/target/
/objectmacro-plugin-user-test/nbactions.xml